* {
	box-sizing: border-box;
}
body {
	padding: 0;
	margin: 0 auto;
	line-height: 24px;
	background: #191c22;
	/*background: linear-gradient(145deg, #fff, #999);*/
}
ul {}
.topnav {
	overflow: hidden;
	background-color: #191c22;
}
.topnav a {
	float: left;
	padding: 14px 16px;
	text-decoration: none;
	word-spacing: 2px;
	letter-spacing: 2px;
	font-family: 'Helvetica', sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #e7f0fd;
}
.topnav .icon {
	display: none;
}
.topnav a:hover:not(.active) {
	opacity: 0.7;
}
.active {
	color: #063644;
}
@media screen and (max-width: 978px) {
	.topnav a {
		padding: 14px 16px;
		text-decoration: none;
		word-spacing: 2px;
		letter-spacing: 2.9px;
		font-size: 20px;
	}
	.topnav a:not(:first-child) {
		display: none;
	}
	.topnav a.icon {
		float: right;
		display: block;
	}
	.topnav.responsive {
		position: relative;
	}
	.topnav.responsive .icon {
		position: absolute;
		right: 0;
		top: 0;
	}
	.topnav.responsive a {
		float: none;
		display: block;
		text-align: left;
	}
}
/* for mobile devices only ------------------ */

@media (max-width: 978px) {
	h2 {
		font-size: 12pt !important;
	}
	p {
		word-spacing: 0px !important;
		font-size: 12pt !important;
	}
	.section-paragraph {
		margin: 0px 40px 0px 40px;
	}
	.portfolio {
		height: 2500px!important;
	}
	img {
		margin: 0px!important;
	}
	.logo {
		max-height: 800px!important;
	}
}
/*divs*/

.pure-u-1 {
	margin-top: 20px;
	margin-bottom: 40px;
	width: 100%;
}
.logo {
	max-height: 350px;
	float: right;
	margin-right: 30px;
}
#aboutme {
	margin-left: 30px;
}
.section-row {
	color: #fff;
	margin: 0 auto;
	padding: 150px 25px;
	max-width: 800px;
	position: relative;
}
.row-title {
	color: #fff;
	font-size: 12pt;
	letter-spacing: 10px;
	text-align: center;
	line-height: 44px;
	margins: 0 0 0 0;
	font-family: 'Helvetica', sans-serif;
	color: white;
}
/*img*/

img {
	padding: 5px;
	height: 500px;
}
#humblegif {
	width: 150;
	height: 200;
}
/*Typography*/

h1 {
	text-align: center;
	font-family: 'Helvetica', sans-serif;
	letter-spacing: 0.09em;
	color: #e7f0fd;
}
h2 {
	text-align: center;
	font-family: 'helvetica neue', sans-serif;
	font-size: 14pt;
	letter-spacing: 0.08em;
	color: #e7f0fd;
	margin: 0px;
}
p {
	color: #fff;
	letter-spacing: 0.05em;
	word-spacing: 0.07em;
	font-family: 'helvetica neue', sans-serif;
	font-size: 10pt;
	margin: 0px;
}
.section-paragraph {
	margin: 0px 80px 20px 80px;
	text-align: center;
}
a {
	font-family: 'helvetica', sans-serif;
	text-decoration: none;
	color: white;
}

/*portfolio*/
.portfolio {
	/*height:1000px;*/
	padding: 25px;
}
.portfolio .portfolio-item {
	/*max-width:500px;*/
	float: left;
	margin: 2px;
}
.portfolio .portfolio-item .thumb {
	position: relative;
	display: block;
}
.portfolio .portfolio-item .thumb img {
	width: 100%;
	height: 100%;
	display: block;
}
.portfolio-hover {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	margin: 0;
	background-color: rgba(0, 0, 0, 0.60);
	opacity: 0;
	filter: alpha(opacity=0);
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
	cursor: pointer;
	overflow: hidden;
}
.portfolio-item:hover .portfolio-hover, .portfolio-item:hover .portfolio-hover .portfolio-description, .portfolio-item:hover .portfolio-hover .action-btn {
	opacity: 1;
	filter: alpha(opacity=100);
}
.portfolio-item:hover .portfolio-hover .portfolio-description {
	top: 50%;
	/*margin-bottom: -90px;*/
}
.portfolio-hover .portfolio-description {
	position: absolute;
	top: 0%;
	left: 0;
	opacity: 0;
	filter: alpha(opacity=0);
	-webkit-transform: translateY(-55%);
	-ms-transform: translateY(-55%);
	transform: translateY(-55%);
	-webkit-transition: all 0.3s 0.2s;
	transition: all 0.3s 0.2s;
	padding: 10%;
}
.portfolio-description, .portfolio-description h4, .portfolio-description h4 a, .portfolio-hover .action-btn a {
	/*text-align: center;*/
	color: #fff;
}
.portfolio-description h4 {
	margin-bottom: 15px;
	font-size: 14px;
	text-transform: uppercase;
	font-weight: 800;
	letter-spacing: 1px;
}
.portfolio-description p {
	font-size: 12px;
	margin-bottom: 0;
	font-weight: normal;
	color: #fff;
	line-height: 20px;
}

/*gutter*/
.portfolio.gutter .portfolio-item {
	margin: 0px;
}

/*minimal form*/
/*https://codepen.io/matmarsiglio/pen/HLIor/?editors=1100*/
@import url(https://fonts.googleapis.com/css?family=Lato:100,300,400);

/*after clicking inside text area*/
input:focus::-webkit-input-placeholder, textarea:focus::-webkit-input-placeholder {
	color: #fff;
}
input::-moz-placeholder, textarea::-moz-placeholder {
	color: ?;
	font-size: 0.875em;
}
input:focus::-moz-placeholder, textarea:focus::-moz-placeholder {
	color: ?;
}

/*color of textbox name*/
input::placeholder, textarea::placeholder {
	color: blue;
	font-size: 0.875em;
}
input:focus::placeholder, textarea::focus:placeholder {
	color: ?;
}
input::-ms-placeholder, textarea::-ms-placeholder {
	color: ?;
	font-size: 0.875em;
}
input:focus::-ms-placeholder, textarea:focus::-ms-placeholder {
	color: ?;
}

/* on hover placeholder */
input:hover::-webkit-input-placeholder, textarea:hover::-webkit-input-placeholder {
	color: ?;
	font-size: 0.875em;
}
input:hover::-moz-placeholder, textarea:hover::-moz-placeholder {
	color: ?;
	font-size: 0.875em;
}
input:hover:focus::-moz-placeholder, textarea:hover:focus::-moz-placeholder {
	color: ?;
}
input:hover::placeholder, textarea:hover::placeholder {
	color: ?;
	font-size: 0.875em;
}

/*hover color of textbook name*/
input:hover::placeholder, textarea:hover::placeholder {
	color: white;
	font-size: 0.875em;
}
input:hover:focus::-ms-placeholder, textarea:hover::focus:-ms-placeholder {
	color: pink;
}
header {
	position: relative;
	margin: 100px 0 25px 0;
	font-size: 2.3em;
	text-align: center;
	letter-spacing: 7px;
}
#form {
	position: relative;
	width: 500px;
	margin: 50px auto 100px auto;
}
input {
	font-family: 'Lato', sans-serif;
	font-size: 0.875em;
	width: 470px;
	height: 50px;
	padding: 0px 15px 0px 15px;
	background: transparent;
	outline: none;
	color: blue;
	border: solid 1px blue;
	border-bottom: none;
	transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
}
input:hover {
	color: #fff;
	background-color: blue;
}
textarea {
	width: 470px;
	max-width: 470px;
	height: 110px;
	max-height: 110px;
	padding: 15px;
	background: transparent;
	outline: none;
	color: blue;
	font-family: 'Helvetica', sans-serif;
	font-size: 0.875em;
	border: solid 1px blue;
	transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
}
textarea:hover {
	color: #fff;
	background-color: blue;
}
#submit {
	width: 470px;
	padding: 0;
	margin: -5px 0px 0px 0px;
	color: blue;
	font-family: 'Helvetica', sans-serif;
	font-size: 0.875em;
	outline: none;
	cursor: pointer;
	border: solid 1px blue;
	border-top: none;
}
#submit:hover {
	color: #fff;
	background-color: blue;
}