* {box-sizing: border-box;margin:0;padding:0;text-decoration:none;}

/*Color list: Dark-#2c425a, Light-#f2f3f7 or #e7ebf4, linear-gradient(#4bb9f4,#68d9fb);*/


body{}

#intro-section {background-color:#000014;height:1500px;padding:100px;width:100%;}
.projects {background-color:#f2f3f7;padding:10px;width:100%;}
.about-me {background-color:#e7ebf4;padding:10px;width:100%;margin:auto;}
.contact-me {background-color:#f2f3f7;}

/*Navigation*/
.topnav {
	overflow: hidden;
	background-color: #2c425a;
    position: fixed;
    width:100%;
}
.topnav a {
	float: left;
	padding: 16px 14px;
	text-decoration: none;
	word-spacing: 2px;
	letter-spacing: 0.06em;
	font-family: 'Helvetica', sans-serif;
	font-size: 14px;
	color: #fff;
}
.topnav .icon {
	display: none;
}
.topnav a:hover:not(.active) {
	opacity: 0.5;
}
.active {
	color: #063644;
}

@media screen and (max-width: 1296px) {
	.topnav a {
		padding: 14px 16px;
		text-decoration: none;
		word-spacing: 2px;
		font-size: 20px;
	}

	.topnav a:not(:first-child) {
		display: none;
	}

  .topnav{
    position: fixed;
		right: 0;
		top: 0;}

  .topnav a {
		display: none;
	}

	.topnav a.icon {
		float: right;
		display: block;
	}
	.topnav.responsive {
		position: fixed;
	}
	.topnav.responsive .icon {
		position: absolute;
		right: 0;
		top: 0;
	}
	.topnav.responsive a {
		float: none;
		display: block;
		text-align: left;
	}

	intro-copy {padding:100px!important;}
	#intro-section {padding:10px;}
	#showreel{height:480px!important;width:80%!important;}
	.des {padding:75px!important;}

}
/*Media End*/


.button {
    font-size:10pt;
    background:#e7ebf4;
    color: #000014;
    font-family: helvetica;
    padding: 15px 30px;
    text-align: center;
    display: inline-block;
    position: relative;
    left: 50%;
    letter-spacing:0.8pt;
		margin-top:200px;
    transform: translate(-50%, -50%);
		transition: 0.7s;
}

.button .b {
    background:#4bb9f4;
    color: #f2f3f7;
		transition: 0.7s;
}

.button:hover {
  background: linear-gradient(to right,#4bb9f4,#68d9fb);
}

a{color:#006ae5;}

/*Intro*/
iframe {width:100%;height:100%;}

#showreel{
	margin: auto;
	width: 50%;
	height:720px;
	padding: 10px;
}

.logo{width:3%;height:3%;padding:20px}

#big-logo {text-align:centre;width:100%;padding-left:46%;padding-top:50px;}


.pure-g img {width:100%;padding:50px;transition: 0.7s;}
img:hover {opacity:0.3;}

.about-img {    display: block;
    margin-left: auto;
    margin-right: auto;width:400px;}

/*Typography*/
h1 {}

h2 {
  color: #2c425a;
  font-family: Helvetica;
  font-size: 35pt;
  text-align: center;
  padding: 90px 90px 30px 90px;
  letter-spacing:0.3pt;
}

p {letter-spacing:0.5pt;}

.subtitle{
  letter-spacing:0.3pt;
  color: #2c425a;
  font-family: Helvetica;
  font-weight: bold;
  font-size: 14pt;
	line-height:20pt;
  text-align:center;
	padding:0 250px 0 250px;
	margin: 0px 0px 50px 0px;}

	.intro-copy {
	  color:#4bb9f4;
	  font-family: Helvetica;
	  font-size: 14pt;
	  text-align: center;
	  padding:50px 100px 100px 100px;
		line-height: 20pt;
	}

.des {
  color: #2c425a;
  font-family: Helvetica;
  font-size: 12pt;
  line-height:18pt;
  text-align: justify;
  padding:0 450px 0 450px;
  margin:50px 0px 50px 0px;
}

.copy {
  color: #2c425a;
  font-family: Helvetica;
  font-size: 12pt;
  line-height:18pt;
  text-align: center;
	padding:0px 50px 0px 50px;margin:0px;
}

.thumb{
  padding: 5px;
  width: 100%;
  height: 100%;
  display: block;}

footer {
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: #2c425a;
   color: white;
}

.foot-text {
  color: #fff;
  font-family: Helvetica;
  font-size: 8pt;
  padding:10px;
}


/*minimal form*/
/*https://codepen.io/matmarsiglio/pen/HLIor/?editors=1100*/

@import url(https://fonts.googleapis.com/css?family=Lato:100,300,400);

/*after clicking inside text area*/
input:focus::-webkit-input-placeholder,
textarea:focus::-webkit-input-placeholder {
  color: #2c425a;
}

input::-moz-placeholder,
textarea::-moz-placeholder {

  font-size: 0.875em;
}

input:focus::-moz-placeholder,
textarea:focus::-moz-placeholder {
  color:;
}
/*color of textbox name*/
input::placeholder,
textarea::placeholder {
  color: #2c425a;
  font-size: 0.875em;
}

input:focus::placeholder,
textarea::focus:placeholder {
  color:;
}

input::-ms-placeholder,
textarea::-ms-placeholder {
  color:;
  font-size: 0.875em;
}

input:focus::-ms-placeholder,
textarea:focus::-ms-placeholder {
  color:#4bb9f4;
}

/* on hover placeholder */

input:hover::-webkit-input-placeholder,
textarea:hover::-webkit-input-placeholder {
  color:#4bb9f4;
  font-size: 0.875em;
}

input:hover::-moz-placeholder,
textarea:hover::-moz-placeholder {
  color:#4bb9f4;
  font-size: 0.875em;
}

input:hover:focus::-moz-placeholder,
textarea:hover:focus::-moz-placeholder {
  color:#4bb9f4;
}

input:hover::placeholder,
textarea:hover::placeholder {
  color:#4bb9f4;
  font-size: 0.875em;
}
/*hover color of textbook name*/
input:hover::placeholder,
textarea:hover::placeholder {
  color:#4bb9f4;
  font-size: 0.875em;
}

input:hover:focus::-ms-placeholder,
textarea:hover::focus:-ms-placeholder {
  color:;
}

/*header {
  position: relative;
  margin: 100px 0 25px 0;
  font-size: 2.3em;
  text-align: center;
  letter-spacing: 7px;
}*/

#form {
  position: relative;
  width: 500px;
  margin: 25px auto 150px auto;
}

input {
  font-family: "helvetica", sans-serif;
    font-size: 0.875em;
  /*width: 470px;*/
  width: 502px;
  height: 50px;
  padding: 0px 15px 0px 15px;

  background: transparent;
  outline: none;
  color: #4bb9f4;
  background-color:#e7ebf4;

  border: solid 1px #e7ebf4;
  /*border: solid 1px blue;*/
  border-bottom: none;

  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
}

input:hover {
  color:#4bb9f4;
  background-color: #e7ebf4;
}

textarea {
  width: 502px;
  max-width: 520px;
  height: 110px;
  max-height: 110px;
  padding: 15px;

  background: #e7ebf4;
  outline: none;

  color: #2c425a;
  font-family: "Helvetica", sans-serif;
  font-size: 0.875em;

  border: solid 1px #e7ebf4;

  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
}

textarea:hover {
  color: #4bb9f4;
  background-color: #e7ebf4;
}

#submit {
  width: 502px;

  padding: 0;
  margin: -5px 0px 0px 0px;

  color: #f2f3f7;
  font-family: "Helvetica", sans-serif;
  font-size: 0.875em;

  outline: none;
  cursor: pointer;

  border: solid 1px #e7ebf4;
  background: #2c425a;
  border-top: none;
}

#submit:hover {
  color: #f2f3f7;
  background:linear-gradient(to right,#4bb9f4,#68d9fb);
}

/*Social Media Links Styling*/

.fa {
  text-align: center;
  text-decoration: none;
  margin: 10px 10px;
  color:#f2f3f7;
}

.fa:hover {
    opacity: 0.7;
}
